<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
      <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
  </head>
  <body>

    <nav>
      <ul>
    {% include 'login.html' %}
          {% include 'sign_up.html' %}
      </ul>
    </nav>
    {% if current_user.is_authenticated %}
    <h1>You are logged in as</h1>{{ current_user.name }}
    {% else %}
    <h1>You are not logged in</h1>
    {% endif %}

  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
  {% include 'footer.html' %}
  </body>
</html>